#Container{
    -fx-background-radius:20;
    -fx-background-color: #23314B;
    -fx-text-fill: white;
    
}

.textField{
    -fx-text-fill:white;
}

.primBtn{
    -fx-background-color: #2FBBBA;
}


.imgBtn{
    text-fill:white;

}